.version {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 4px;
    font-size: 11px;
    text-align: center;
    z-index: 999;
}

@media (max-width: 930px) {
    .version {
        position: var(--position);
    }
}

.code {
    margin: 0 4px 0 0;
    padding: 1px 4px;
    font-size: 95%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #e83e8c;
    white-space: break-spaces;
    background-color: rgba(89, 99, 110, 0.527);
    border-radius: 4px;
}

.link {
    margin: 0 4px 0 0;
    padding: 1px 4px;
    font-size: 95%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    color: #e83e8c;
    white-space: break-spaces;
    border-radius: 4px;
}