.snowfall_container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.snowdrift {
    position: absolute;
    background-image: url("./snowdrift.png");
    background-repeat: repeat-x;
    bottom: -10px;
    width: 100%;
    height: 83px;
}