.background {
    position: fixed;
    background-color: #314159;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.backgroundImage {
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.centerContainer {
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    background: transparent;
    display: block;
    position: relative;
    width: 100%;
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

.img {
    width: 100%;
    height: 100%;
}

.center {
    margin: 60px auto 0 auto;
    width: 90%;
}

.errorMessage {
    width: fit-content;
    padding-right: 40px;
    background-color: lightpink;
    color: firebrick;
}

.errorMessage svg {
    color: firebrick;
}

.form {
    --textfieldHeight: 50px;
    position: relative;
    margin: 30px auto 0 auto;
    width: 100%;
    max-width: 350px;
}

.textfield {
    position: relative;
    width: 100%;
    background: #e9f4fb;
    margin: 0 0 30px 0;
    border-radius: 100px;
    z-index: 999;
}

.textfield input {
    color: #000000;
    padding: 0 25px;
    height: var(--textfieldHeight);
    width: 100%;
    font-size: 16px;
    background: transparent;
    border: none;
    border-radius: 100px;
    outline: none;
    z-index: 999;
}

.textfield input::placeholder {
    color: #000000;
}

.textfield .text_focusEffect {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0px;
    width: 0%;
    height: var(--textfieldHeight);
    border-radius: 100px;
    background: rgb(38, 145, 217);
    opacity: 0;
    transition: .5s;
}

.textfield input:focus~.text_focusEffect {
    width: 100%;
    opacity: 0.4;
}

.textfieldPWD {
    overflow: hidden;
    transition-duration: 0.2s;
    transform-origin: top;
    transform: scaleY(var(--textfieldPWDHeight));
}

.rememberMe {
    margin: auto;
    cursor: pointer;
    width: fit-content;
    color: #e9f4fb;
    transition-duration: 0.3s;
    transform: translateY(calc((var(--movement) + 30px) * -1));
}

.rememberMe input {
    background-color: rgb(180, 180, 180);
}

.rememberMe * {
    cursor: pointer;
}

.signIn {
    position: absolute;
    margin: 40px auto 0 auto;
    background: #dba154;
    width: 130px;
    height: 50px;
    left: 0;
    right: 0;
    transition: transform 0.3s;
    transform: translateY(calc((var(--movement) + 30px) * -1));
}

.signIn:focus-visible,
.signIn:hover {
    transition-duration: 0.5s;
    transform: scale(1.1) translateY(calc((var(--movement) + 30px) * -1));
    background: #dba154;
}

.signIn:after {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 10px white;
}

.signIn:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    opacity: 1;
    transition: 0s;
}

.signIn:focus {
    outline: 0;
}


@media (max-height: 630px) {
    .logo {
        display: none;
    }
}