.outside_close {
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #333333;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    color: white;
    overflow: hidden;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .logo {
    display: block;
    height: 100%;
    color: inherit;
    float: left;
    font-size: 24px;
    line-height: 50px;
    padding: 0 5px;
    text-decoration: none;
}

.header .menu {
    background-color: inherit;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header .menu_icon {
    cursor: pointer;
    display: block;
    float: right;
    margin: 0;
    padding: 24px 20px;
    position: relative;
    user-select: none;
}

.header .menu_icon .navicon {
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu_icon .navicon:before,
.header .menu_icon .navicon:after {
    background-color: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu_icon .navicon:before {
    top: 5px;
}

.header .menu_icon .navicon:after {
    top: -5px;
}

.header .menu_btn {
    display: none;
}

.header .menu_btn:checked~.menu {
    max-height: 240px;
}

.header .menu_btn:checked~.menu_icon .navicon {
    background: transparent;
}

.header .menu_btn:checked~.menu_icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu_btn:checked~.menu_icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu_btn:checked~.menu_icon:not(.steps) .navicon:before,
.header .menu_btn:checked~.menu_icon:not(.steps) .navicon:after {
    top: 0;
}

.option {
    height: 100%;
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
}

.option * {
    color: white;
}

.logout {
    text-decoration: none;
}

.logout span {
    padding-right: 10px;
}

.header li {
    border-top: 1px solid gray;
    cursor: pointer;
    text-align: left;
    height: 55px;
}

@media (min-width: 930px) {
    .header {
        height: 60px;
        overflow: unset;
    }

    .header li {
        float: left;
        border: none;
        height: auto;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
        gap: 10px;
    }

    .header .menu_icon {
        display: none;
        padding: 28px 20px;
    }

    .option {
        height: 100%;
        padding: 5px 10px;
        margin: 0;
        border-radius: 10px;
    }

    .option:hover {
        background-color: #ffffff1a;
    }

    .header .logo {
        padding: 0 20px;
        font-size: 32px;
        line-height: 60px;
    }
}

.nohover {
    padding: 0;
}