.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.centerContainer {
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    background: transparent;
    display: block;
    width: 100%;
    max-width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
}

.center {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.form {
    margin: auto;
    width: 100%;
    max-width: 400px;
}

.textfield {
    position: relative;
    width: 100%;
    background: #e9f4fb;
    margin: 30px 0;
    border-radius: 100px;
    z-index: 999;
}

.textfield input {
    color: #000000;
    padding: 0 15px;
    height: 50px;
    width: 90%;
    font-size: 16px;
    background: transparent;
    border: none;
    border-radius: 100px;
    outline: none;
    margin-left: 10px;
    z-index: 999;
}

.textfield input::placeholder {
    color: #000000;
}

.textfield .text_focusEffect {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0px;
    width: 0%;
    height: 50px;
    border-radius: 100px;
    background: rgb(38, 145, 217);
    opacity: 0;
    transition: .5s;
}

.textfield input:focus~.text_focusEffect {
    width: 100%;
    opacity: 0.4;
}

.rememberme {
    color: #e9f4fb;
    margin-left: 30px;
}

.rememberme label {
    display: block;
    cursor: pointer;
    padding-left: 10px;
}

.centerDiv {
    text-align: center;
}

.signin {
    position: relative;
    margin-top: 60px;
    background: #dba154;
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.signin:hover {
    transition-duration: 0.5s;
    transform: scale(1.1);
}

.signin:after {
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 10px white;
}

.signin:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    opacity: 1;
    transition: 0s;
}

.signin:focus {
    outline: 0;
}


@media (max-height: 630px) {
    .logo {
        display: none;
    }
}