.modal__title {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    width: 90%;
    margin-top: -40px;
    margin-left: 5px;
    margin-bottom: 0;
    z-index: 1001;
    animation: fadeIn 0.2s;
}

.modal__text {
    line-height: 25px;
    width: 100%;
    margin-bottom: 5px;
}

.modal__footer {
    text-align: right;
    padding: 0 2rem;
    margin-bottom: 2rem;
    font-size: 0.7rem;
    line-height: 2;
}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.button_cancel {
    padding: 0.5rem 1.6rem;
    border-radius: 100rem;
    color: inherit;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: .2rem;
    transition: .2s;
    cursor: pointer;
    background: hsl(0, 58%, 35%);
    border: 1px solid hsl(0, 58%, 35%);
}

.button_cancel:hover,
.button_cancel:focus {
    background: hsl(0, 58%, 43%);
    border-color: hsl(0, 58%, 43%);
}

.button_continue {
    padding: 0.5rem 1.6rem;
    border-radius: 100rem;
    color: inherit;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: .2rem;
    transition: .2s;
    cursor: pointer;
    background: hsl(150, 58%, 35%);
    border: 1px solid hsl(150, 58%, 35%);
}

.button_continue:hover,
.button_continue:focus {
    background: hsl(150, 58%, 43%);
    border-color: hsl(150, 58%, 43%);
}