@media (min-width: 931px) {
    .table {
        height: 85%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-bottom: 22px;
    }
}

@media (max-width: 930px) {
    .table {
        height: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 42px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

.table {
    table-layout: fixed;
    overflow-y: scroll;
    border-collapse: separate;
}

.topLeftIndex {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    width: 95px;
}

.index {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    padding: 5px 0 2px 0;
}

.indexMobile {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    width: 45px;
}

.data {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    padding: 15px 5px;
}

.data:hover {
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.05);
}

.dataMobile {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    padding: 5px 5px;
}

.classname {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    color: #dba154;
}

.classname:hover {
    cursor: pointer;
}