html,
body {
    background-color: #314159;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    transition: all 0.3s;
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        background-color: #314159;
        color: rgb(230, 230, 230);
    }
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.yesselect {
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn ease var(--fadeInDuration);
    animation: fadeIn ease var(--fadeInDuration);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

::-webkit-scrollbar {
    width: 10px;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
    background: #404566;
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
    background: #2b2e46;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
    background: #30344e;
}